body{
    color: white;
    background-image: url('fondo.jpeg'); 
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
}

header{
    width: 100%;
    background-color:darkslategray;;
    color: black;
    display: flex;
    height: 70px;
    padding-left: 25px;
    text-align:center;
}

.menu{
    display: flex;
    flex-direction: column;
    background-color: black;
    position: absolute;
    top: 80px;
    right: 100px;
    width: 180px;
}

.perfil{
    display: flex;
    flex-direction: column;
    align-items: center;
}

p{
    font-size: 15px;
    width: 35%;
}

.lenguajes{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contacto{
    color: darkslategray;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: right;
}

.formulario{
    display: flex;
    flex-direction: column;
    background-color: black;
    position: absolute;
    right: 100px;
    width: 180px; 
}


footer{
    width: 100%;
    color: black;
    background-color:darkslategray;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 150px;
    justify-content: space-between;
}


.redes{
    width: 30%;
    display: flex;
    justify-content: center;
}